@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .text-textGreen {
    @apply text-light-textGreen dark:text-dark-textGreen;
  }

  .text-textLight {
    @apply text-light-textLight dark:text-dark-textLight;
  }

  .text-textDark {
    @apply text-light-textDark dark:text-dark-textDark;
  }

  .hover-hoverColor:hover {
    @apply hover:bg-light-hoverColor dark:hover:bg-dark-hoverColor;
  }

  .bg-textDark {
    @apply bg-light-textDark dark:bg-dark-textDark;
  }

  .bg-textGreen {
    @apply bg-light-textGreen dark:bg-dark-textGreen;
  }

  .bg-bodyColor {
    @apply bg-light-bodyColor dark:bg-dark-bodyColor;
  }

  .bg-bodyGrey {
    @apply bg-gray-200 dark:bg-gray-700;
  }

  .border-bodyBorder {
    @apply border-gray-200 dark:border-gray-600;
  }

  .text-bodyText {
    @apply text-gray-900 dark:text-gray-400;
  }
}

:root {
  --foreground-rgb: 0, 0, 0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
  }
}

body {
  color: rgb(var(--foreground-rgb));
}

::selection {
  background-color: #CC6D00; /* Darker shade of orange */
  color: white;
}

::-moz-selection {
  background-color: #CC6D00;
  color: white;
}

.loader {
  color: #64FFDA;
  fill: none;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  height: 90vh;
  & svg {
    height: 10rem;
    width: 10rem;
  }
}

.gradient-03 {
  position: absolute;
  width: 404px;
  height: 800px;
  left: 20%;
  top: 5%;

  background: rgba(149, 66, 232, 0.35);
  filter: blur(175px);
  transform: rotate(-114.2deg);
  pointer-events: none;
  z-index: -1;
}

.gradient-04 {
  position: absolute;
  width: 304px;
  height: 100vh;
  left: 30%;
  top: 10%;

  background: rgba(45, 72, 152, 0.75);
  filter: blur(200px);
  transform: rotate(-53.13deg);
  pointer-events: none;
  z-index: -1;
}

